<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cruiseTrip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="cruiseTrip"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".roomBooking.ConfirmBookingActivity" />
        <activity android:name=".portActivity.PortAdvActivity" />
        <activity android:name=".ui.InvoiceActivity" />
        <activity android:name=".roomBooking.RoomServiceActivity" />
        <activity android:name=".roomBooking.RoomBookingActivity" />
        <activity android:name=".roomBooking.RoomArrangementActivity" />
        <activity android:name=".roomBooking.RoomTypeActivity" />
        <activity android:name=".authentication.RegisterActivity" />
        <activity android:name=".authentication.LoginActivity" />
        <activity android:name=".ui.ActionActivity" />
        <activity android:name=".ui.DestinationActivity" />
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>